{% extends "blog/Base.html" %}
{% block title %}
    Categories
{% endblock %}
{% block content %}
    <h1>Categories</h1>
    <form action="{% url 'category_create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Category Name">
        <button type="submit">Create</button>
    </form>
    {% for category in categories %}
        <p>
            <a href="{%  url 'category_detail' category.id %}">
                {{ category.name }}
            </a>
        </p>
        <form action="{% url 'category_update' category.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" value="{{ category.name }}" placeholder="Category Name">
            <button type="submit">Update</button>
        </form>
        {% for post in category.post_set.all %}
            <p>
                <a href="{%  url 'post_detail' post.id %}">
                    {{ post.title }}
                </a>
            <p>Likes: {{ post.likes.count}}</p>
            <p>Comment:</p>
                    {%  for comment in post.comment_set.all %}
                        <p>{{ comment.user }}: {{ comment.body }}</p>
                    {% endfor %}
            </p>
    {% endfor %}

    {% endfor %}
{% endblock %}